# Overview of python



+ Introduction of python
+ Data Types
+ Operators
+ Pandas
+ Data manipulation
+ Importing the packages
+ Importing and exporting the data
+ Joins and append the data
+ How to know the directory and change the directory
+ Simple charts
+ simple function 
+ If statements and loops

**What is Python**

+ Python is a general purpose and high level programming language. You can use Python for developing desktop GUI applications, websites and web applications. 
+ Also, Python, as a high level programming language, allows you to focus on core functionality of the application by taking care of common programming tasks. 
+ The simple syntax rules of the programming language further makes it easier for you to keep the code base readable and application maintainable. 

**Why Python?**

+ Simple to understand, easy to learn
+ Object oriented structure makes programming very easy
+ Open source and has support from a huge scientific community that contributes actively to Python development
+ A number of libraries for research tasks and the capabilities are growing by the day
+ De facto choice for textual data analytics

Jupyter notebook

+ An interactive shell
+ Notebook that is browser based. The notebook supports text, code, expressions, graphs and     interactive data visualization, embed images and videos, and also links to web pages on the Internet. 
+ Tools for parallel computing.
+ Import external code and run it.

In [ ]:
from IPython.display import YouTubeVideo 
YouTubeVideo('SPrBZoJ3ejQ')

In [ ]:
from IPython.display import IFrame
IFrame(src= 'https://en.wikipedia.org/wiki/Machine_learning', width=800 ,height=800)

Navigation Shortcuts

+ C  takes users into command mode view while ENTER takes users into cell mode view.
+ A  inserts a cell above the currently selected cell. 
+ B inserts a cell below the currently selected cell. 
+ D + D = Pressing D two times in a quick succession in command mode deletes the currently selected cell.
+ Jupyter Lab gives you an option to change your cell into Code cell, Markdown cell or Raw Cell. 
   + You can use M to change current cell to a markdown cell, 
   + Y to change it to a code cell and  
   + R to change it to a raw cell.
+ SHIFT + M = It merges multiple selected cells into one cell.

Data Types

  + float - used for real numbers.
  + int - used for integers.
  + str - used for texts.
  + bool - used for truthy values. Useful to perform a filtering operation on a data.
  + list - used to store a collection of values.
  + dict - used to store a key-values pairs.
  + tuple - List of values and immutable
  + Set-it is a list of non-repeating values

In [ ]:
year_of_birth = 1991
height_cm = 170.50
subject = "Data Science"
is_success = True

In [ ]:
print(type(year_of_birth), type(height_cm), type(subject), type(is_success))

Lists

+ We can use this type to store a collection of values. 
+ Each item in a list corresponds to an index number, which is an integer value, starting with the index number 0.

In [ ]:
fruits = ["pineapple", "apple", "lemon", "strawberry", "orange", "kiwi"]

In [ ]:
#Subsetting Lists
fruits[1]  # apple
fruits[0]  # "pineapple"
fruits[-1] # "kiwi"
fruits[5]  # "kiwi"
fruits[-3] # "strawberry"
fruits[3:]    # ["strawberry", "orange", "kiwi"] starting values remove 
fruits[:4]    # ["pineapple", "apple", "lemon", "strawberry"] ending values remove
fruits[0:2]   # ["pineapple", "apple"] n-1 display

In [ ]:
#List Manipulation

# Add values to a list
fruits.append("peach")
fruits # ["pineapple", "apple", "lemon", "strawberry", "orange", "kiwi", "peach"]
fruits = fruits + ["fig", "melon"]
fruits # ["pineapple", "apple", "lemon", "strawberry", "orange", "kiwi", "peach", "fig", "melon"]

In [ ]:
# Change values from a list
fruits[0:2] = ["grape", "mango"]
fruits # ["grape", "mango", "lemon", "strawberry", "orange", "kiwi", "peach", "fig", "melon"]

In [ ]:
# Delete values from a list
fruits.remove("mango")
fruits # ["grape", "lemon", "strawberry", "orange", "kiwi", "peach", "fig", "melon"]

Dictionaries:


+ We can use this type to store a collection of values.
+ Each item in a Dictionaries corresponds to an named index, which is an string

In [ ]:
ratings = {
    "Siva": 7.7,
    "krishna": 8.1,
    "vasu" : 7.8}

In [ ]:
ratings

In [ ]:
print(ratings["vasu"]) # 7.8

<img src="list vs dictionary.jpg">

Tuple

+ List of values and immutable

In [ ]:
tup=(1,2,3)

In [ ]:
tup[0]=1

Set

+ it is a list of non-repeating values

In [ ]:
s={1,2,3,1,2,3,1,2,3}
s

**Operators**

+ '+' (plus) : Adds two objects 
+ '-' (minus) Gives the subtraction of one number from the other; if the first operand is absent it is assumed to be zero.
+ '* '(multiply) Gives the multiplication of the two numbers or returns the string repeated that many times.
+ '**' (power) Returns x to the power of y
+ '/' (divide) Divide x by y
+ '%' (modulo) Returns the remainder of the division
+ '<' (less than) Returns whether x is less than y. All comparison operators return True or False. Note the capitalization of these names.
+ '>' (greater than) Returns whether x is greater than y
+ '<=' (less than or equal to) Returns whether x is less than or equal to y
+ '>=' (greater than or equal to) Returns whether x is greater than or equal to y
+ '==' (equal to) Compares if the objects are equal
+ '!=' (not equal to) Compares if the objects are not equal
+ 'not' (boolean NOT) If x is True, it returns False. If x is False, it returns True.
+ 'and' (boolean AND) x and y returns False if x is False, else it returns evaluation of y
+ 'or' (boolean OR) If x is True, it returns True, else it returns evaluation of y

In [ ]:
a=3
b=3

In [ ]:
a+b

Pandas

+ There are two basic data structures in pandas: Series and DataFrame

Series Object

+ A Pandas Series is a one-dimensional array of indexed data. It can be created from a list or array as follows

In [ ]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

In [ ]:
data.values

In [ ]:
data.index

In [ ]:
data[1]

In [ ]:
data[1:3]

In [ ]:
# DataFrame Object

In [ ]:
data = pd.DataFrame({'price':[95, 25, 85, 41, 78],
                     'ticker':['AXP', 'CSCO', 'DIS', 'MSFT', 'WMT'],
                     'company':['American Express', 'Cisco', 'Walt Disney','Microsoft', 'Walmart'],
                     'Name':['siva','krishna','rama','bunny','Hema'],
                     'Age':[20,30,40,35,55],
                     'Gender':['M','M','F','M','F']})

data.set_index("Name", inplace=True)
data

Selection Options

+ Selection By Label:
  + Use loc[] to choose rows and columns by label.
+ Selection By position:
  + Use iloc[] to choose rows and columns by position.

In [ ]:
# select the Column by using the label
data.loc[:,'company']

In [ ]:
# select the row by using the label
data.loc['bunny',:]

In [ ]:
#select a several rows label
data.loc[['bunny','rama'],:]

In [ ]:
#select the row and column label
data.loc['bunny','company']

In [ ]:
#select rows based on the column value.
data.loc[data.loc[:,'Age']>35,:]

In [ ]:
#Select a row by position
data.iloc[0,:]

In [ ]:
#Select a column by position
data.iloc[:,2]

In [ ]:
#select the row and column position
data.iloc[0,1]

In [ ]:
#Filter the data
data[data['Gender'] == 'M']

In [ ]:
#Filter the data based on two condition
data[(data['Gender'] == 'M') & (data['Age'] > 20 )]

In [ ]:
#Update the values
data.loc[data['price'] == 25, 'price'] = 100

In [ ]:
#Update the values by add
data.loc[data['price'] == 85, 'price'] += 100

In [ ]:
# Deleting columns
data = data.drop(columns="company")

In [ ]:
#replacing the values
#data['Gender'].replace('F', 'Female',inplace=True)
#data['Gender'].replace('M', 'Male',inplace=True)
data['Gender'].replace(['F','M'],['Female','Male'],inplace=True)

In [ ]:
# New variable assign
data['aa']=5

converting dtypes using astype

In [ ]:
data.dtypes

In [ ]:
data["Age"]= data["Age"].astype(str)

In [ ]:
data.dtypes

In [1]:
# importing the data
import pandas as pd
ds=pd.read_csv('C:\\Users\\chaprave\\Desktop\\Learning\\Python\\headbrain.csv')

In [ ]:
dsexcel=pd.read_excel('C:\\Users\\chaprave\\Desktop\\Learning\\Python\\headbrain.xlsx')

In [ ]:
ds.head()

In [ ]:
# dim
ds.shape

In [ ]:
# variable wise counts
ds.count()

In [ ]:
# summary
ds.describe()

In [ ]:
# variable wise counts and data type
ds.info()

importing the packages:

  + They are two wise importing the packages
      + By using Jupyer
      + anaconda prompt

In [ ]:
#!pip install pandas_profiling
import pandas_profiling as pp
pp.ProfileReport(ds)

In [ ]:
importing the sql

In [ ]:
#pip install pyodbc
import pandas as pd
import pandas.io.sql
import pyodbc

In [ ]:
# Create the connection
con=pyodbc.connect(
    "Driver={SQL Server Native Client 11.0};"
    "Server=10.91.220.41;"
    "Database=SAMPLE;"
    "Trusted_Connection=Yes;"
)

In [ ]:
# Parameters
server='10.91.220.41'
db='SAMPLE'

#create the connection
conn=pyodbc.connect('DRIVER={SQL Server};SERVER='+ server +';DATABASE='+ db +';Trusted_Connection=Yes')

#Query

sql="""

Select top 10 *
From [dbo].[emp]

"""

df=pd.read_sql(sql,conn)

Exporting data

In [ ]:
df.to_csv('DimDate.csv', index=False)

In [ ]:
df.to_excel('DimDate.xls', index=False)

In [ ]:
df.to_csv('DimDate.txt', index=False)

In [ ]:
Join

In [ ]:
<img src="sql-joins.jpeg">

In [ ]:
import numpy as np
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': np.random.randn(4)})

df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'],
                    'value': np.random.randn(4)})

In [ ]:
# inner join
pd.merge(df1, df2, on='key')

In [ ]:
# Left join
pd.merge(df1, df2, on='key', how='left')

In [ ]:
#Right join
pd.merge(df1, df2, on='key', how='right')

In [ ]:
#Full join
pd.merge(df1, df2, on='key', how='outer')

In [ ]:
#UNION All or append the data
pd.concat([df1, df2])

In [ ]:
#union or drop the duplicates
pd.concat([df1, df2]).drop_duplicates()

how to find the directory

In [ ]:
import os
print(os.getcwd())

In [ ]:
os.chdir("C:/Users/chaprave/Desktop/eBay")

Charts

In [ ]:
# x axis values 
x = [1,2,3,4,5,6] 
# corresponding y axis values 
y = [2,4,1,5,2,6] 
  
# plotting the points  
plt.plot(x, y, color='green', linestyle='dashed', linewidth = 3, 
         marker='o', markerfacecolor='blue', markersize=12) 
  
# setting x and y axis range 
plt.ylim(1,8) 
plt.xlim(1,8) 
  
# naming the x axis 
plt.xlabel('x - axis') 
# naming the y axis 
plt.ylabel('y - axis') 
  
# giving a title to my graph 
plt.title('Some cool customizations!')

In [ ]:
# x-coordinates of left sides of bars  
left = [1, 2, 3, 4, 5] 
  
# heights of bars 
height = [10, 24, 36, 40, 5] 
  
# labels for bars 
tick_label = ['one', 'two', 'three', 'four', 'five'] 
  
# plotting a bar chart 
plt.bar(left, height, tick_label = tick_label, 
        width = 0.8, color = ['red', 'green']) 
  
# naming the x-axis 
plt.xlabel('x - axis') 
# naming the y-axis 
plt.ylabel('y - axis') 
# plot title 
plt.title('My bar chart!')

In [ ]:
# defining labels 
activities = ['eat', 'sleep', 'work', 'play'] 
  
# portion covered by each label 
slices = [3, 7, 8, 6] 
  
# color for each label 
colors = ['r', 'y', 'g', 'b'] 
  
# plotting the pie chart 
plt.pie(slices, labels = activities, colors=colors,  
        startangle=90, shadow = True, explode = (0, 0, 0.1, 0), 
        radius = 1.2, autopct = '%1.1f%%') 
  
# plotting legend 
plt.legend()

def functions: Functions help break our program into smaller and modular chunks.

In [ ]:
#Defining a function
def add(a,b):
    return a+b
 
print(add(4,5))

Lambda functions: are operator can have any number of arguments, but it can have only one expression.They can be used in the block they were created.

In [ ]:
#Defining a lambda
add = lambda x, y : x + y 
 
print(add(4,5))

In [ ]:
def func1(a, b):
    return a / b
def func2(x):
    a = x
    b = x - 1
    return func1(a, b)

In [ ]:
func2(2)

Python Conditions and If statements

In [ ]:
a = 33
b = 200
if b > a:
   print("b is greater than a")

In [ ]:
#Elif
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
#Elifelse
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

For Loops A for loop is used for iterating over a sequence

In [ ]:
for x in range(1, 6):
  print(x)

In [ ]:
#Else in For Loop
for x in range(6):
  print(x)
else:
  print("Finally finished!")